<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.solo_team.futureleader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/resize_300x0"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FutureLeader"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.login_or_register.LoginOrRegisterLayout"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.news.open_news.OpenNewsFragment" />
        <activity android:name=".ui.menu.statical.Founder.FounderLayout" />
        <activity android:name=".ui.menu.statical.Founder.ContactLayout" />
        <activity
            android:name=".ui.WebViewsContent.WebView"
            android:label="Web"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.menu.statical.admining.AdminingLayout" />
        <activity android:name=".ui.menu.statical.admining.layouts.users.UsersLayout" />
        <activity android:name=".ui.menu.statical.programs.ProgramsLayout" />
        <activity android:name=".ui.menu.statical.programs.FounderLeadersLayout.Layout" />
        <activity android:name=".ui.profile.EditFieldsLayout" />
        <activity android:name=".ui.profile.AddFieldLayout" />
        <activity android:name=".ui.menu.statical.admining.layouts.users.StructurLayout" />
        <activity android:name=".ui.news.open_news.EditNews" />
        <activity android:name=".ui.news.open_news.CreateChieldNew" />

        <service android:name=".FireBaseSendings">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.OnlyImage" />
        <activity
            android:name=".MediaAudioAdapters.VideoAdapter.VideoView"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.menu.statical.admining.layouts.users.ViewUserProfile" />
        <activity android:name=".ui.menu.horizontal_menu.calendar.Calendar"/>
        <activity android:name=".ui.menu.horizontal_menu.idea.Idea"/>
        <activity android:name=".ui.menu.horizontal_menu.idea.Showidea"/>
        <activity android:name=".ui.menu.horizontal_menu.idea.CreateIdea"/>
        <activity android:name=".ui.menu.horizontal_menu.calendar.AddEvent"/>
        <activity android:name=".ui.menu.horizontal_menu.calendar.EventCheck"/>
        <activity android:name=".ui.menu.horizontal_menu.calendar.ViewEvent"/>
        <activity android:name=".ui.menu.horizontal_menu.surveys.SurveysView"/>
        <activity android:name=".ui.menu.horizontal_menu.surveys.DoSurvey"
            android:parentActivityName=".MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>